<section class="bg-light py-5 min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div *ngFor="let field of fields">
                <div *ngIf="field.Action === 'Input'" class="mb-3">
                  <label class="form-label fw-semibold">{{ field.Display_Name }}</label>

                  <!-- TEXT -->
                  <input *ngIf="field.Data_Type === 'string'" class="form-control"
                    [formControlName]="field.Variable_Name" [placeholder]="field.Place_Holder" type="text"
                    [readonly]="!field.Editable" />

                  <!-- NUMBER -->
                  <input *ngIf="field.Data_Type === 'double' || field.Data_Type === 'int'" class="form-control"
                    [formControlName]="field.Variable_Name" [placeholder]="field.Place_Holder" type="number"
                    [readonly]="!field.Editable" />

                  <!-- DATETIME -->
                  <input *ngIf="field.Data_Type === 'datetime'" class="form-control"
                    [formControlName]="field.Variable_Name" type="datetime-local" [readonly]="!field.Editable" />

                  <!-- ENUM -->
                  <select *ngIf="field.Data_Type === 'enum'" class="form-select" [formControlName]="field.Variable_Name"
                    [disabled]="!field.Editable">
                    <option *ngFor="let opt of field.Options" [value]="opt">{{ opt }}</option>
                  </select>


                  <!-- BOOLEAN -->
                  <div *ngIf="field.Data_Type === 'bool'" class="form-check">
                    <input class="form-check-input" type="checkbox" [formControlName]="field.Variable_Name"
                      [disabled]="!field.Editable" />
                    <label class="form-check-label">{{ field.Place_Holder }}</label>
                  </div>

                </div>
              </div>

              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>