<section class=" min-vh-100">
  <div class="container">
    <div *ngIf="!IsShow" class="py-5 row justify-content-center text-center mb-3">
      <div class="col-12 mb-2" *ngFor="let data of fields" (click)="getWorkFlow(data.Title)">
        <button type="button" class="btn btn-primary">{{ data.Title }}</button>
      </div>
    </div>


    <div *ngIf="IsShow" class="row justify-content-center">
      <div class="d-flex align-items-center justify-content-center bg-primary mb-2">
        <h3 class="mb-0 p-2 text-white">{{currentCalTitle | titlecase}}</h3>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <button class="btn btn-primary" (click)="backButton()" >Home</button>
        <button class="btn btn-danger" (click)="resetForm()">Reset</button>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 card mb-3" *ngFor="let workflow of arrayData?.Workflows">
          <div class="card-header ">
            <h5 class="mb-0">{{ workflow.WorkflowName }}</h5>
          </div>
          <div class="card-body">
            <form *ngIf="formMap[workflow.WorkflowName]" [formGroup]="formMap[workflow.WorkflowName]">
              <div *ngFor="let field of workflow.Parameters">
                <div *ngIf="field.ParameterType === 'Input' || field.ParameterType === 'Output'" class="mb-3">
                  <label class="form-label fw-semibold">{{ field.DisplayName }}</label>

                  <ng-container [ngSwitch]="field.DataType">
                    <!-- String -->
                    <ng-container *ngSwitchCase="'String'">
                      <input class="form-control" type="text" [formControlName]="field.VariableName"
                        [readonly]="field.ParameterType === 'Output' || field.Validation?.Editable === false" [ngClass]="{
                      'is-invalid': formMap[workflow.WorkflowName].get(field.VariableName)?.invalid &&
                                   formMap[workflow.WorkflowName].get(field.VariableName)?.touched,
                      'boreder-green': field.ParameterType === 'Output'
                    }"  />
                    </ng-container>

                    <!-- Int -->
                    <ng-container *ngSwitchCase="'Int'">
                      <input class="form-control" type="number" [formControlName]="field.VariableName"
                        [readonly]="field.ParameterType === 'Output' || field.Validation?.Editable === false" [ngClass]="{
                      'is-invalid': formMap[workflow.WorkflowName].get(field.VariableName)?.invalid &&
                                   formMap[workflow.WorkflowName].get(field.VariableName)?.touched,
                      'boreder-green': field.ParameterType === 'Output'
                    }"  />
                    </ng-container>

                    <!-- Double -->
                    <ng-container *ngSwitchCase="'Double'">
                      <input class="form-control" type="number" step="any" [formControlName]="field.VariableName"
                        [readonly]="field.ParameterType === 'Output' || field.Validation?.Editable === false" [ngClass]="{
                      'is-invalid': formMap[workflow.WorkflowName].get(field.VariableName)?.invalid &&
                                   formMap[workflow.WorkflowName].get(field.VariableName)?.touched,
                      'boreder-green': field.ParameterType === 'Output'
                    }"  />
                    </ng-container>

                    <!-- Datetime -->
                    <ng-container *ngSwitchCase="'Datetime'">
                      <input class="form-control" type="datetime-local" [formControlName]="field.VariableName"
                        [readonly]="field.ParameterType === 'Output' || field.Validation?.Editable === false" [ngClass]="{
                      'boreder-green': field.ParameterType === 'Output'
                    }" />
                    </ng-container>

                    <!-- Enum -->
                    <ng-container *ngSwitchCase="'Enum'">
                      <select class="form-select" [formControlName]="field.VariableName"
                        [disabled]="field.ParameterType === 'Output' || field.Validation?.Editable === false" [ngClass]="{
                      'boreder-green': field.ParameterType === 'Output'
                    }">
                        <option *ngFor="let opt of field.Options" [value]="opt.Value">
                          {{ opt.Label }}
                        </option>
                      </select>
                    </ng-container>

                    <!-- Bool -->
                    <ng-container *ngSwitchCase="'Bool'">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [formControlName]="field.VariableName"
                          [disabled]="field.ParameterType === 'Output' || field.Validation?.Editable === false" />
                        <label class="form-check-label">{{ field.DisplayName }}</label>
                      </div>
                    </ng-container>
                  </ng-container>

                  <!-- Validation Errors -->
                  <div class="validation-error text-danger mt-1" *ngIf="field.ParameterType === 'Input' &&
                       formMap[workflow.WorkflowName].get(field.VariableName)?.invalid &&
                       formMap[workflow.WorkflowName].get(field.VariableName)?.touched">
                    <ng-container [ngSwitch]="true">
                      <div *ngSwitchCase="formMap[workflow.WorkflowName].get(field.VariableName)?.hasError('required')">
                        {{ field.DisplayName }} is required.
                      </div>
                      <div *ngSwitchCase="formMap[workflow.WorkflowName].get(field.VariableName)?.hasError('min')">
                        Minimum value is {{ field.Validation?.MinValue }}.
                      </div>
                      <div *ngSwitchCase="formMap[workflow.WorkflowName].get(field.VariableName)?.hasError('max')">
                        Maximum value is {{ field.Validation?.MaxValue }}.
                      </div>
                      <div
                        *ngSwitchCase="formMap[workflow.WorkflowName].get(field.VariableName)?.hasError('minlength')">
                        Minimum length is {{ field.Validation?.MinLength }}.
                      </div>
                      <div
                        *ngSwitchCase="formMap[workflow.WorkflowName].get(field.VariableName)?.hasError('maxlength')">
                        Maximum length is {{ field.Validation?.MaxLength }}.
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary mt-3 w-50" (click)="SaveForm()">
            Calculate
          </button>
        </div>

        <p class="text-danger" *ngIf="EvaluationMessage">{{EvaluationMessage}}</p>
      </div>
    </div>

  </div>
</section>

<router-outlet></router-outlet>