.h-100{
    height: 100vh !important;
}

.is-invalid {
  border-color: red !important;
}

.validation-error {
  color: red;
  font-size: 0.9rem;
}


.boreder-green{
  border: 2px solid green;
  background-color:#c8ffe6
}

input{
  height: 32px !important;
}

.alert-msg{
  font-size: 12px !important;
}